:root {
    --brand-color: #2196F3;
    --second-color:#757575;
    --main-color:#212121;
    --white-color:#FFFFFF; 
}
body{
    font-family:'Roboto','Raleway',sans-serif;
    position: relative;
    color: var(--main-color);
    font-size: 14px;
} 

ul{
    list-style: none;
}
/*кнопки*/
button{
    background: #F5F4FA;
    cursor: pointer;
    font-family: inherit;
    font-size: 16px;
    line-height: 1.6;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: var(--white-color) 
}
button:hover,
button:focus{
    background: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color);
}
/*ссылки*/
a{
    color: var(--main-color);
    text-decoration: none;
    font-weight: 500;
}
a:hover,
a:focus{
    color: var(--brand-color);
}
/*телефон+почта*/
.telmail{
    color:var(--second-color) 
    
}
.telmail2{
    color:var(--second-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
}
.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: var(--white-color);
}
address{
    font-style: normal;
}
/*Логотип*/
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logodown{
    color: var(--white-color);
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
/*Страница портфолио*/
.portfolio > h2{
    font-size: 18px;
    line-height:2 ;
}
.portfolio > .text{
    color:var(--second-color);
    font-size: 16px;
    line-height:2;
    font-weight: 400;
}
/*Главная страница*/
h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 1.3;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--white-color);
}
.h1{
    background-color: #2F303A;
}

.order-services{
    font-size: 16px;
    line-height: 1.9;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color);
    border-radius: 4px;
    font-weight: bold;
}
.order-services:hover,
.order-services:focus{
    background-color: #188CE8;
}
.about-us > h3{
    font-size: 14px;
    line-height: 1.1;
}
.about-us > p{
    color: var(--second-color);
    font-size:14px;
    line-height: 1.7;
}
h2{
    font-size: 36px;
    line-height: 1.2;
}
.team > h3{
    font-weight: 500;
    font-size: 16px;
    line-height: 2;
}
.team > p{
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.2;
    font-weight: 400;
}
.topick{
    text-transform: uppercase;
}
footer{
    background: #2F303A;
}
.part1{
    color: var(--brand-color);
}
.p{
    opacity: 0;
    visibility: hidden;
    font-size: 1px;
}
.current{
    color: var(--brand-color);
}
.current-button{
    background-color: var(--brand-color);
    color: var(--white-color);
    border-color: var(--brand-color) ;
}

