body{
    font-family:'Roboto','Raleway',sans-serif;
    position: relative;
    color:#212121;
    background: #E5E5E5;
} 
:root {
    --brand-color: #2196F3;
    --second-color:#757575;
}
ul{
    list-style: none;
}
/*кнопки*/
button{
    background: #F5F4FA;
    cursor: pointer;
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 0.03em;
    border-radius: 4px;
    border-color: #FFFFFF;
}
button:hover,
button:focus{
    background: var(--brand-color);
    color: #FFFFFF;
}
/*ссылки*/
a{
    color: #212121;
    text-decoration: none;
    font-weight: 500;
}
a:hover,
a:focus{
    color: var(--brand-color);
}
/*телефон+почта*/
.telmail{
    color:var(--second-color) 
    
}
.telmail2{
    color:var(--second-color);
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em; 
}
.address{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #FFFFFF;
}
address{
    font-style: normal;
}
/*Логотип*/
.logo{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.2;
}
.logodown{
    color: #FFFFFF;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
}
/*Страница портфолио*/
.portfolio > h3{
    font-size: 18px;
    line-height:2 ;
}
.portfolio > p{
    color:var(--second-color);
    font-size: 16px;
    line-height:2;
}
/*Главная страница*/
h1{
    font-weight: 900;
    font-size: 44px;
    line-height: 60px;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
}
.h1{
    background-color: #2F303A;
}

.order-services{
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    background-color: var(--brand-color);
    color: #FFFFFF;
    border-color: var(--brand-color);
    border-radius: 4px;
}

.about-us > h3{
    font-size: 14px;
    line-height: 1.1;
}
.about-us > p{
    color: var(--second-color);
    font-size:14px;
    line-height: 1.7;
}
h2{
    font-size: 36px;
    line-height: 1.2;
}
.team > h3{
    font-size: 16px;
    line-height: 1.2;
}
.team > p{
    color: var(--second-color);
    font-size: 16px;
    line-height: 1.2;
}
.topick{
    text-transform: uppercase;
}
footer{
    background: #2F303A;
}
.part1{
    color: var(--brand-color);
}
.p{
    opacity: 0;
}
